.notification {
    border: 1px solid #000;
    padding: 10px;
    background-color: rgb(167, 165, 165);
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.blog-list {
    margin-top: 5px;
    border: 2px double #000 ;
    padding: 10px;
    border-radius: 10px;

}